@import "buttons.css";
@import "index-about.css";
@import "workout.css";
@import "carrosel.css";

body{
    font-size: 14px;
}

/*#header{*/
    /*background-image: url("../images/header.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*width: 100%;*/
    /*height: 900px;*/
/*}*/

#header  .navigation{
    width: 100%;
    min-height: 80px;
    background: black;
    opacity: 0.8;
}

#header .navbar-brand{
    font-size: 2em;
    font-weight: bold;
    color: white;
    padding: 1em 0;
    text-transform: uppercase;
}
#navbar .navbar-nav li{
    padding: 1em 0;
}

#navbar .navbar-nav li a{
    color: rgb(250, 155, 3);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
}

#navbar .navbar-nav li a:hover, #navbar .navbar-nav li a:focus, #navbar .navbar-nav li a:active {
    border: 1px solid white;
    background: transparent;
}

#header .welcome{
    color: white;
    font-weight: 100;
    font-size: 4em;
    padding: 6em 0 4em 0;
}

#header .welcome h1{
    font-size: 99px;

    font-weight: 700;
    color: rgb(255, 255, 255);
    font-family: "Roboto Condensed";
    font-style: italic;
    text-align: center;
    text-transform: uppercase;

}

#navbar .ativar{
    border: 1px solid white;
}

.section-center{
    text-align: center;

}
.section{

    padding:30px 0 30px 0;
}


@media (max-width: 991px) {
    #header .navbar-brand {
        position: relative;
        right: -207px;
    }
}
@media (max-width: 991px) {
    #navbar .navbar-nav {
        position: relative;
        right: 76px;
    }
}

@media (max-width: 551px) {
    #header .navbar-brand {
        position: relative;
        right: 0;
    }
}
@media (max-width: 551px) {
    #navbar .navbar-nav {
        position: relative;
        right: 0;
    }
}
